.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  border-color: black;
}
